@function px-to-rem($size) {
  $rem-size: $size / 16;
  @return #{$rem-size}rem;
}

@mixin on-desktop {
  @media (min-width: 481px) {
    @content;
  }
}

$color-text: #161718;

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: px-to-rem(24);
  font-family: 'Skoda Next', Tahoma, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  color: $color-text;
  letter-spacing: 0.02rem;
  background-color: #c6c6c6;
}

.content {
  text-align: left;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.div {
  border-spacing: 0;
  width: 100%;
}

.container {
  margin-left: 16px;
  margin-right: 16px;

  @include on-desktop {
    margin-left: 48px;
    margin-right: 48px;
  }
}

.header {
  padding: px-to-rem(24) px-to-rem(40);

  img {
    display: block;
  }
}

.footer {
  font-size: px-to-rem(12);
  line-height: px-to-rem(16);
  background-color: #0E3A2F;
  color: #fff;
  padding: px-to-rem(32) px-to-rem(24);

  a {
    color: #fff;
  }

  table {
    width: 100%;
    table-layout: fixed;

    .middle {
      text-align: center;
    }

    .social {
      vertical-align: top;
      text-align: right;

      a {
        text-decoration: none;
        margin-left: px-to-rem(24);
      }
    }
  }
}

hr {
  border: none;
  border-top: solid #e7e7e7 px-to-rem(1);
  margin: 0;
  background: none;
}

.h1 {
  font-size: px-to-rem(27);
  line-height: px-to-rem(33);
  margin: px-to-rem(48) 0 px-to-rem(24);
}

.img-fluid {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.table-logos {
  width: 100%;

  td {
    font-weight: bold;
    vertical-align: middle;
    padding: px-to-rem(24) 0;
  }
}

.table-valign {
  td {
    vertical-align: middle;
  }
}

.code-wrapper {
  display: inline-block;
  border-radius: px-to-rem(4);
  border: solid #C4C6C7 px-to-rem(1);
  padding: px-to-rem(10);
  margin-bottom: px-to-rem(12);

  &--wide {
    padding: px-to-rem(13) px-to-rem(32);
  }

  img {
    display: block;
  }
}

.code-text {
  display: inline-block;
  font-weight: 900;
  font-size: px-to-rem(11);
  line-height: px-to-rem(14);
  letter-spacing: 0.26em;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}

.card {
  margin-bottom: px-to-rem(16);

  a {
    color: $color-text;
  }

  &__grid-table {
    border: none;

    td {
      vertical-align: top;
    }

    &-icon-wrapper {
      width: px-to-rem(20);
      text-align: center;
      padding-right: px-to-rem(8);
    }
  }

  &__title {
    font-size: px-to-rem(16);
    font-weight: 700;
    line-height: px-to-rem(24);
    margin: 0;
  }

  &__text {
    margin: 0 0 px-to-rem(16) 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.article {
  margin-bottom: px-to-rem(36);

  &__title {
    font-size: px-to-rem(27);
    line-height: px-to-rem(32);
  }

  &__title-col {
    font-size: px-to-rem(23);
    line-height: px-to-rem(28);
  }

  &__table {
    table-layout: fixed;

    td {
      width: 50%;
    }

    .text-col {
      padding-left: px-to-rem(24);
    }
  }
}

.poll {
  background-color: #f1f1f1;
  padding: px-to-rem(48) px-to-rem(16);

  &__title {
    font-size: px-to-rem(23);
    line-height: px-to-rem(28);
    margin: 0 0 px-to-rem(24) 0;
  }
}

.button {
  display: inline-block;
  color: $color-text;
  text-decoration: none;
  border: solid $color-text px-to-rem(2);
  border-radius: px-to-rem(212);
  font-size: px-to-rem(14);
  font-weight: bold;
  line-height: px-to-rem(16);
  letter-spacing: px-to-rem(0.75);
  padding: px-to-rem(10) px-to-rem(22);
  margin-right: px-to-rem(16);
}

.wrapper-36 {
  margin: px-to-rem(36) 0;
  text-align: center;
}
